@import './header.scss';
@import './hero.scss';
@import './footer.scss';

$primary-color: #000000;
$secondary-color: #ffffff;

* {
    font-family: "Lexend Deca", sans-serif;
    margin-left: 0px;
    
}