@import './header.scss';
@import './hero.scss';
@import './footer.scss';

* {
    font-family: "Lexend Deca", sans-serif;
    margin-left: 0px;
    background-image: url('../images/light-backround.png');
    background-repeat: no-repeat;
    background-size: 100%;
}