body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.cont {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    opacity: 0.8;
    background-size: cover;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1189af;
}

.cont.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #ffffff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.img__text.m--in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn:after {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}

.img__btn span.m--in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #222222;
}

.submit {
    color: #000;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 2px solid white;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

.fb-btn span {
    font-weight: bold;
    color: #455a81;
}

.sign-in {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: #ffffff;
}

.cont.s--signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
    background-color: #fff;
}

.cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hpSection-application {
    background: linear-gradient(197deg, #efefef 0%, #1189af);
    background-size: 300%;
    -webkit-animation: bg-gradientAnim 4s linear infinite alternate;
    animation: bg-gradientAnim 4s linear infinite alternate;
}

.Section {
    position: relative;
    padding: 8rem 7.5vw;
}

.application {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;

    h3 {
        margin-bottom: 1.2rem;
        font-size: clamp(2rem, 5vw, 3.125rem);
        line-height: 1.35;
    }

    p,
    article {
        word-break: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

.application-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    a.outlineBtn {
        display: inline-block;
        border: 2px solid #fff;
        color: #fff;
        padding: 1.3rem 3.2rem;
        border-radius: 60rem;
        font-size: 1.5rem;
        font-weight: 700;
        -webkit-transition: 300ms ease;
        -o-transition: 300ms ease;
        transition: 300ms ease;
        margin-right: 2rem;
    }

    a.whiteBgBtn {
        display: inline-block;
        border: 2px solid #fff;
        background: #fff;
        padding: 1.3rem 3.2rem;
        border-radius: 60rem;
        font-size: 1.5rem;
        font-weight: 700;
        -webkit-transition: 300ms ease;
        -o-transition: 300ms ease;
        transition: 300ms ease;
        color: #1e7c9e;
    }

    a {
        text-decoration: none;
        color: currentColor;
    }
}

.hpSection-blogs {
    background: #f9f8f6;

    h1,
    h2,
    h3,
    h4 {
        font-weight: 400;
    }
}

.Section {
    position: relative;
    padding: 8rem 7.5vw;
}

.hpSection-blogs--heading {
    margin-bottom: 4rem;

    h2 {
        font-size: clamp(2.4rem, 6vw, 3.9rem);
        line-height: 1.25;
    }
}

.hpSection-blogs--blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.blogCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fff;

    a {
        text-decoration: none;
        color: currentColor;
    }
}

.blogCard-content {
    h4 {
        padding: 0 2.4rem;
        margin-top: .8rem;
        font-size: 20px;
        font-weight: 500;
        font-family: sans-serif;
        color: #3d4f57;
    }

    img {
        margin-bottom: 2.4rem;
        width: 100%;
        display: block;
        min-height: 20rem;
        object-fit: cover;
        max-width: 100%;
        display: block;

    }
}

.blogCard-content--cat {
    font-size: 1.5rem;
    padding: 0 2.4rem;
    color: #b5b5b5;

    p,
    article {
        word-break: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

.blogCard-date {
    font-size: 1.5rem;
    padding: 2rem 2.4rem;
    color: #b5b5b5;

    p,
    article {
        word-break: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

#navbar {
    background-color: #fff;
}

#logo-container {
    width: 400px;
    margin-left: -100px;

    img {
        height: 130px;
        width: 180px;
    }

    a {
        text-decoration: none;
        font-size: 24px;
            font-weight: 600;
            color: #000;
    }

    a:hover {
        color: #1189af;
    }
}

.nav-links {
    list-style-type: none;

    li {
        float: right;
        position: relative;
        top: -100px;

        a {
            display: block;
            text-align: center;
            padding-right: 16px;
            padding-left: 14px;
            padding-top: 15px;
            font-size: 24px;
            font-weight: 600;
            color: #000;
        }

        a:hover {
            color: #1189af;
        }
    }
}