header{
  margin: 25px 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
  box-shadow: 10px 10px 76px 0px rgba(0,0,0,0.30);
}

.logo{
  width: 100px;
  cursor: pointer;
  margin-right: auto;
}

.nav_links{
  list-style: none;
}

.nav_links li {
  display:inline-block;
  padding: 0px 20px;
  color: #fff;
}

.nav_links li a {
   transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #03045e;
}

button{
  height: 50px;
  width: 125px;
  border-radius: 50px;
  border: none;
  background-color: #4158D0;
  background-image: linear-gradient(247deg, #4158D0 0%, #C850C0     46%, #FFCC70 100%);
  font-family: inter;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0px -1px 15px -3px #FFFFFF;
}


li a {
  font-family: inter, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

ul {
  padding-right: 100px;
}