#navbar {
  background-color: #fff;
}

#logo-container {
  width: 400px;
  margin-left: -100px;

  img {
    height: 130px;
    width: 180px;
  }

  a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }

  a:hover {
    color: #1189af;
  }
}

.nav-links {
  list-style-type: none;

  li {
    float: right;
    position: relative;
    top: -100px;

    a {
      display: block;
      text-align: center;
      padding-right: 16px;
      padding-left: 14px;
      padding-top: 15px;
      font-size: 24px;
      font-weight: 600;
      color: #000;
    }

    a:hover {
      color: #1189af;
    }
  }
}