#navbar {
  background-color: #fff;
}

#logo-container {
  width: 400px;
  margin-left: -80px;

  img {
    height: 150px;
  }

  a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }

  a:hover {
    color: #1189af;
  }
}

.nav-links {
  list-style-type: none;

  li {
    float: right;
    position: relative;
    top: -110px;

    a {
      display: block;
      text-align: center;
      padding-right: 16px;
      padding-left: 14px;
      padding-top: 15px;
      font-size: 24px;
      font-weight: 600;
      color: #000;
    }
    a::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in;
    }
    a:hover::after{
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}