@import './header.scss';
@import './footer.scss';
@import './form.scss';
@import './chatroom.scss';

* {
    font-family: "Lexend Deca", sans-serif;
}

body {
    margin-left: 0px;
    background-color: #efefef;
}